{% extends 'index.html' %}

{% block title %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h3>Таблица {{ object.title }}</h3>
    <hr>
    <form action="{% url 'search_by_value' pk=table.id %}" method="post">
        {% csrf_token %}
        {{ search_form|crispy }}
        <input type="submit" value="Искать по значению" class="btn btn-success">
    </form>
    <form action="{% url 'delete_by_value' pk=table.id %}" method="post">
        {% csrf_token %}
        {{ search_form|crispy }}
        <input type="submit" value="Удалить по значению" class="btn btn-danger">
    </form>
    {% if table_table %}
        <table class="table table-striped table-hover">
            <thead>
            {% for h in table_table.0 %}
                <th>*</th>
            {% endfor %}
            <th>Редактировать</th>
            </thead>
            <tbody>
            {% for row in table_table %}
                <tr>
                    {% for el in row %}
                        <td>{{ el }}</td>
                    {% endfor %}
                    <td>
                        <form action="{% url 'delete_value_by_id' pk=table.id id=forloop.counter0 %}" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="Удалить" class="btn btn-outline-danger">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Таблица пока пустая</p>
    {% endif %}
    <a class="btn btn-outline-success" href="{% url 'table_add_row' pk=table.id %}">Добавить запись</a>
    <a class="btn btn-danger" href="{% url 'table_delete' pk=table.id %}">Удалить таблицу (Внимание, действие необратимо!)</a>
{% endblock %}
